* {
  margin: 0;
  padding: 0;
  font-family: Oswald;
  overflow-x: hidden;
}

p {
  overflow-y: hidden;
}

header {
  width: 1400px;
  height: 50px;
  position: fixed;
  background-image: url(fon.jpg);
  border-bottom: brown solid 2px;
}

.header {
  display: flex;
  justify-content: space-between;
}

main{
  padding-top: 10px;
}

.head {
  text-decoration: none;
  color: black;
}

.text {
  display: flex;
  gap: 50px;
  margin-left: 20px;
  margin-top: 10px;
}

.button {
  margin-right: 20px;
  margin-top: 10px;
  background-color: bisque;
  width: 180px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.rhav1 {
  display: flex;
}

.rhsv {
  display: flex;
}

.left {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.text3 {
  font-size: 20px;
}

.imgv {
  width: 500px;
  height: 700px;
  display: flex;
  margin: auto 0;
  border-radius: 20px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -30px;
}

.text4 {
  font-size: 15px;
}

.rheu {
  width: 250px;
  /* height: 200px; */
  flex-shrink: 0;
  /* margin-bottom: 24px; */
}

.text5 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135.938%;
  /* 19.031px */
  margin-bottom: 113px;
}

.qwert {
  padding-top: 40px;
  display: flex;
  flex-shrink: 0;
  background-image: url(fon.jpg);
}

.left1 {
  width: 700px;
}

.media1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-shrink: 0;
}

.text6 {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140.625%;
  /* 33.75px */
  margin-bottom: 40px;
}

.text7 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%;
  /* 28.125px */
  width: 422px;
  margin-bottom: 50px;
}

.button1 {
  border-radius: 5px;
  border: 1px solid #000;
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background-image: url(fon.jpg);
  margin-bottom: 178px;
  text-decoration: none;
  padding: 17px;
}

.right {
  margin-left: 75px;
  margin-top: 175px;
}

.qwer {
  display: flex;
  height: 600px;
  flex-shrink: 0;
  background-image: url(fon.jpg);
  width: 1440px;
}

.text8 {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140.625%;
  /* 33.75px */
  margin-bottom: 40px;
}

.text9 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%;
  /* 28.125px */
  width: 422px;
  margin-right: 163px;
  margin-bottom: 52px;
}

.text10 {
  border-radius: 5px;
  border: 1px solid #000;
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.766%;
  /* 24.258px */
  background-image: url(fon.jpg);
}

.right1 {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media2 {
  width: 650px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  flex-shrink: 0;
}

.left2 {
  margin-left: 175px;
  margin-top: 175px;
  margin-right: 88px;
}

.qwe {
  display: flex;
  height: 600px;
  flex-shrink: 0;
  background-image: url(fon.jpg);
  width: 1440px;
}

.text11 {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140.625%;
  /* 33.75px */
  margin-bottom: 6px;
  width: 486px;
}

.text12 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%;
  /* 28.125px */
  width: 422px;
  margin-bottom: 24px;
}

.text13 {
  border-radius: 5px;
  border: 1px solid #000;
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.766%;
  /* 24.258px */
  background-image: url(fon.jpg);
}

.left-block-img {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media3 {
  flex-shrink: 0;
}

.left3 {
  margin-left: 175px;
  margin-top: 175px;

}

.block4 {
  height: 750px;
  flex-shrink: 0;
  background-image: url(fon.jpg);
  text-align: center;
}

.text22 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 70px;
}

.blockk1 {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 40px;
}

.qwesgjm {
  height: 450px;
  flex-shrink: 0;
}

.link-read {
  text-decoration: none;
  color: #000;
}

.block5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-block5 {
  margin-bottom: 10px;
}

footer {
  display: flex;
  background-image: url(fon.jpg);
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: brown solid 3px;
}

.left-block {
  margin: 0 auto;
  width: 300px;
}

.left-block-text {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.wb {
  width: 102px;
  margin-right: -20px;
}

.ozon {
  width: 52px;
}

.litres {
  width: 100px;
}

.button-buy {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-block {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.right-block-text {
  text-decoration: none;
  color: #000;
}

.block5 {
  background-image: url(fon.jpg);
  background-size: cover;
}

.rhav1 {
  background-image: url(fon.jpg);
}

.block {
  background-image: url(fon.jpg);
}

/* свойства модального окна по умолчанию */
.modal {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
  z-index: 1050;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}

/* при отображении модального окно */
.modal:target {
  opacity: 1;
  /* делаем окно видимым */
  pointer-events: auto;
  /* элемент видим для событий мыши */
  overflow-y: auto;
  /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
    /* для отображения модального окна по центру */
  }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(fon.jpg);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
}

/* свойства для заголовка модального окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: -15px;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
  
}

.block-text-teen, .disease, .death{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 0 auto;
 text-align: center;
 gap: 20px;
 padding-top: 10px;
 background-image: url(fon.jpg);
 background-size: cover;
}

.teen, .disease-text, .death-text{
  width: 1000px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.title, .disease-title, .death-title{
  font-size: 25px;
  padding-top: 10px;
}

.back{
  text-decoration: none;
  color: #000;
}